#wrapper {
    display: grid;
    grid-template:
        "logo topbar" 77px
        "sidenav main" minmax(867px, auto)                                                                                                                                                                                                                                                                                    
        / 257px minmax(1182px, 1fr);
}

.logo-container {
    grid-area: logo;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(233,236,239,1);

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 173%;
    color: rgba(64,64,64,1);
}

.top-bar-container {
    grid-area: topbar;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    border-bottom: 1px solid rgba(233,236,239,1);
    border-left: 1px solid rgba(233,236,239,1);
}

.second-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;

    background-color: rgba(58,87,232,0.2);
    border-radius: 6px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;

    color: rgba(45,66,178,1);
}

.second-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

.side-navigation-container {
    grid-area: sidenav;
    padding: 16px 12px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-navigation-item {
    border-radius: 6px;
    padding: 8px 22px;
    
    display: flex;
    align-items: center;
    gap: 16px;

    color: rgba(138,146,166,1);
}

.side-navigation-item:hover {
    cursor: pointer;
    opacity: 0.85;
}

.side-navigation-item.active {
    background-color: rgba(58, 87, 232, 1);
    color: rgba(255,255,255,1);
}

.side-navigation-icon {
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
}

.side-navigation-icon.chart {
    background-image: url('../../resource/image/chart-icon.png');
}

.side-navigation-icon.pie {
    background-image: url('../../resource/image/pie-icon.png');
}

.side-navigation-icon.edit {
    background-image: url('../../resource/image/edit-icon.png');
}

.side-navigation-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-container {
    grid-area: main;
    padding: 24px;
    background-color: rgba(238, 238, 238, 0.5);
}

.top-bar-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    color: rgba(64,64,64,1);
}

/